# Go
backend/roc-recording
backend/hls/
backend/encode-assignments.json
backend/encode-presets.json
backend/channel-categories.json
backend/recordings-path.json
backend/playout-clients.json
backend/srt-settings.json
backend/recordings/

# Node
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Docker
*.env
